{{#each this}}
<li class="item">

  <div >
    <img src={{author.avatar}} alt={{author.name}}>
    <p class="text">{{author.name}}</p>
  </div>

  <p class="text">{{text}}</p>

  <p class="text">{{creatAt}}</p>

  <ul>
    {{#each tags}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

</li>
{{/each}}


